## Environment and build files
env/
dist/
build/

## Project configs
.vscode/
.pylintrc

## Stuff that should *never* be pushed
keys/
tmp/

## Cache
**/__pycache__/
**/.mypy_cache/

## Temporary ignores
docs/
