## Environment and build files
.venv/
env/
dist/
build/

## Project configs
.vscode/
.pylintrc

## Stuff that should *never* be pushed
keys/
tmp/

## Cache
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/

## Temporary ignores
docs/
qtasks/gui/qtasks.pyproject.user
